<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{%block header %}{% endblock %}</title>
  </head>
  <body>

    {%if user.is_authenticated %}
    {{user.username}}

    <a href="{% url 'tasks' %}">Tareas pendientes</a>
    <a href="{% url 'completed_tasks' %}">Tareas completadas</a>
    <a href="{% url 'create' %}">Crear nueva tarea</a>

    <form action="{% url 'log_out' %}" method="post">
      {% csrf_token %}
      <button type="submit">Cerrar sesión</button>
    </form>

    {% else %}

    <a href="{% url 'log_in' %}">Iniciar sesión</a>
    <a href="{% url 'sign_up' %}">Registrarse</a>

    {% endif %}
    <br>
    {% block content %}{% endblock %}

  </body>
</html>
