{% extends 'tasks/base.html' %}

{%block header %}

  Tareas terminadas

{% endblock %}

{%block content %}

  <h1>Tareas terminadas:</h1>

  <div class="row">
  {% for task in tasks %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{task.name}}</h5>
          <hr>
          <p class="card-text" style="width:40ch;
                                      overflow: hidden;
                                      white-space: nowrap;
                                      text-overflow: ellipsis;">
            {% if task.description %}
              {{task.description}}
            {% endif %}
          </p>
          <p>
            {{task.date_completed}}
          </p>
          <div class="row">
            <div class="col-md-6" align="center">
              <a href="{% url 'edit_task' task.id %}" class="btn btn-info card-button">Ver detalles</a>
            </div>
            <div class="col-md-6" align="center">
              <form class="form-group" action="{% url 'delete_task' task.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Borrar</button>
              </form>
            </div>

          </div>




        </div>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
