<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Iniciar sesión</title>
  </head>
  <body>
    <h1>Iniciar sesión</h1>
    <h2>{{error}}</h2>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">Iniciar sesión</button>
    </form>
  </body>
</html>-->


<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'tasks/styles/login.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <h1>Iniciar sesión</h1>
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="username">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
    </form>


</body></html>
