{% extends 'tasks/base.html' %}

{%block header %}

  Tareas pendientes

{% endblock %}

{%block content %}

  <h1>Tareas pendientes:</h1>

    <div class="row">
    {% for task in tasks %}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{task.name}}</h5>
            {% if task.is_important == True %}
              <p style="font-weight:bold">Importante</p>
            {% else %}
              <br>
            {% endif %}
            <hr>
            <p class="card-text" style="width:40ch;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;">
              {% if task.description %}
                {{task.description}}
              {% endif %}
            </p>
            <div class="row">

              <div class="col-md-4" align="center">
                <form class="form-group" action="{% url 'complete_task' task.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Terminar</button>
                </form>
              </div>
              <div class="col-md-4" align="center">
                <a href="{% url 'edit_task' task.id %}" class="btn btn-info card-button">Editar</a>
              </div>
              <div class="col-md-4" align="center">
                <form class="form-group" action="{% url 'delete_task' task.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
              </div>

            </div>




          </div>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}
